@model MozambikMVC.Data.Entities.Order

@{
    string name = $"{Model.Product.Model.Marka.Name} {Model.Product.Model.Name} {Model.Product.Name}";
}

<div>
    <a asp-action="Index">Back to List</a>
</div>
<div class="container">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Id) :   @name
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Count)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveredDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveredDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanceledDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanceledDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isDelivered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isDelivered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isCanceled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isCanceled)
        </dd>
    </dl>
</div>

