@model IEnumerable<MozambikMVC.Data.Entities.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    
        string className = item.isDelivered ? "bg-success" : item.isCanceled ? "bg-warning" : "bg-light";
    
        <tr class="@className">
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @if (!item.isCanceled && !item.isDelivered)
            {
                <td>
                    <form asp-action="Deliver" method="post">
                        <input value="@item.Id" name="id" hidden />
                        <button class="btn btn-success"><span class="fa fa-check-square-o "></span></button>
                    </form>
                </td>
            }
            else
            {
                <td>
                    
                </td>
            }
        <td>
            <form asp-action="Details" method="post">
                <input value="@item.Id" name="id" hidden />
                <button class="btn btn-success"><span class="fa fa-book "></span></button>
            </form>
        </td>
        </tr>
}
    </tbody>
</table>
